<section id="chris" class="bg-cyclopse section-chris">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12"> <img class="img-responsive opaque chris" src="../img/chris.jpg"/> </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="row section-heading">
                    <div class="col-lg-12 col-md-12 col-sm-12 align-left">
                        <h2 class="project-title"> 
                            <b> christopher gewecke </b> <span class="hidden-xs">&emsp;</span> 
                            <span class="date opaque-7"> Javascript Developer </span>
                        </h2>
                    </div>
                </div>
                <hr class="divider-thin opaque-5">
                <div class="container-fluid">
                    <p class="description">
                        <b> Available: </b> 
                        <span class="opaque-7"> &nbsp; Contract / long term. </span>
                    </p>
                    <hr class="divider-thin opaque-5">
                    <p> Current interests include decentralized applications, the Ethereum blockchain, IoT, and Bluetooth LE. 
                        Recent projects have involved front and back end web development for mobile and desktop,
                        primarily with the MEAN stack. Also have extensive experience with C++, Java, Python, and Ruby/Rails.
                    </p>
                    <hr class="divider-thin opaque-5">
                    <div class="row"> 
                        <div class="col-lg-4 col-md-5 col-sm-5">
                            <p class="description underline">  <b> Portland State Univerity </b> </p>
                        </div>
                        <div class="col-lg-8 col-md-7 col-sm-7">
                            <p class="description underline"> <span class="opaque-7 italic"> Computer Science </span> </p>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-lg-4 col-md-5 col-sm-5">
                            <p class="description underline">  <b> Reed College </b> </p>
                        </div>
                        <div class="col-lg-8 col-md-7 col-sm-7">
                            <p class="description underline"> <span class="opaque-7 italic"> History </span> </p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <a href="#projects" class="btn btn-work opaque-7 btn-xl page-scroll hidden-xs">
                            <i class="fa fa-wrench fa-2x"></i> 
                            <span class="github-text"> &nbsp; Recent Work </span>
                        </a>
                    </div>
                </div> 

            </div>
            
        </div>
    </div>
</section>