<section class="bg-gitphaser">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="row section-heading">
                    <div class="col-lg-12 col-md-12 col-sm-12 align-left">
                        <h2 class="project-title"> 
                            <b> git-phaser </b> <span class="hidden-xs">&emsp;</span><br class="visible-xs"> 
                            <span class="date opaque-7"> Winter 2016 to Summer 2016 </span>
                        </h2>
                    </div>
                </div>
                <hr class="divider-thin">
                <div class="container-fluid">
                    <p class="description">
                        A social-networking app which uses <b> phone-based Bluetooth beacons </b> and proximity detection to make the public GitHub profiles of nearby users visible. Clients only have to login once to be detectable. From then on the app will wake up in the background whenever its host device encounters BLE signal emitted by another user's phone and contact a Meteor server to notify the devices that they're near each other.
                        <br>
                        <li class="desc_item"> Good for meetups and conferences. </li>
                        <li class="desc_item"> Finds users even if they've killed the app. </li> 
                        <li class="desc_item"> Keeps a history of people of you've met. </li> 
                        <li class="desc_item"> Lets you add them to your device contacts. </li> 
                        <li class="desc_item"> Does not track by location. </li>
                    </p>

                    <h3 class="hidden-xs"> Stack </h3>
                    <hr class="divider-thin hidden-xs">
                    
                    <div class="row hidden-xs">
                        <div class="col-lg-2 col-md-2 col-sm-2 opaque-5">
                            <p class="repo"> Core </p>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 opaque-7">
                            <span class="label stack light blue label-default"> AngularJS </span>
                            <span class="label stack light blue label-default hidden-md"> Angular-Meteor </span>
                            <span class="label stack light blue label-default"> ngCordova </span>
                            <span class="label stack light blue label-default"> Ionic </span>
                        </div>
                    </div>
                    <div class="row hidden-xs">
                        <div class="col-lg-2 col-md-2 col-sm-2 opaque-5">
                            <p class="repo"> iOS </p>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 opaque-7">
                            <span class="label stack light blockchain label-default"> iBeacon </span>
                            <span class="label stack light blockchain label-default"> Xcode </span>
                            <span class="label stack light blockchain label-default"> APN </span>
                            <span class="label stack light blockchain label-default"> TestFlight </span>
                        </div>
                    </div>
                    <div class="row hidden-xs">
                        <div class="col-lg-2 col-md-2 col-sm-2 opaque-5">
                            <p class="repo"> Build </p>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 opaque-7">
                            <span class="label stack light bluetooth label-default"> Karma/Jasmine </span>
                            <span class="label stack light bluetooth label-default"> Travis </span>
                            <span class="label stack light bluetooth label-default"> Gulp </span>
                            <span class="label stack light bluetooth label-default"> ngDocs </span>
                        </div>
                    </div>
                    <div class="row hidden-xs">
                        <div class="col-lg-2 col-md-2 col-sm-2 opaque-5">
                            <p class="repo"> Database </p>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 opaque-7">
                            <span class="label stack light core label-default"> MongoDB </span>
                        </div>
                    </div>
                    
                    <h3> Sites </h3>
                    <hr class="divider-thin"> 
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 opaque-7 text-center">
                           <a href="https://github.com/git-phaser/git-phaser" class="btn btn-primary btn-xl page-scroll">
                            <i class="fa fa-github fa-2x"></i> 
                            <span class="github-text"> &nbsp; Code on Github </span>
                          </a>
                        </div>
                        <div class="col-xs-12 visible-xs" style="height: 15px"></div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 opaque-7 text-center">
                           <a href="http://gitphaser.com" class="btn btn-site  btn-xl page-scroll">
                            <i class="fa fa-tv fa-2x"></i> 
                            <span class="github-text"> &nbsp; gitphaser.com </span>
                          </a>
                        </div>
                    </div>
                </div> 

            </div>
            <div class="col-lg-4 col-md-4 hidden-sm hidden-xs"> <img class="img-responsive opaque" src="../img/gitphaser.png"/> </div>
        </div>
    </div>
</section>